.imagencarrucel{
    height: 350px;
    object-fit: cover;
}
textarea {
    resize: none;
  }
@MEDIA all and (min-width:992px){
    .imagencarrucel{
        height: 500px;
        object-position: 50% 30%;
    }
}